.navbar-content{
  padding:20px 40px 20px 40px;
}
.task-done{
  text-decoration: line-through;
  color: #6c757d;
  font-style: italic;
}
.footer{
  background-color: #003361;
}

.title-page {
  /* font-family: 'Product Sans Medium', sans-serif; */
  font-size: 2em;
}

.subtitle-page {
  /* font-family: 'Product Sans Medium', sans-serif; */
  font-size: 1.5em;
}
